* {
	box-sizing: border-box;
}

body {
	margin: 0;
    font-family: 'Kaisei Opti', serif;
    background: #757F9A;
    background: linear-gradient(to top, #757F9A, #D7DDE8);
}

header {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #D7DDE8), url(header.jpg);
    background-color: #D7DDE8;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

section {
    display: flex;
    justify-content: center;
}

section div {
    margin: 5px;
}

section div p {
    font-size: 1.5rem;
    margin: 5% 0%;
}

section form {
    margin: 1%;
    padding: 1%;
    background-color: #f7f8fa;
}

h1 {
    text-align: center;
    font-size: 4rem;
    border-radius: 5px;
    margin: 0;
    background-color: rgba(230, 230, 230, 0.9);
    padding: 1%;
}

h3, h4 {
    margin: 2%;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
    margin: 4% 2%;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 7%;
}

h4 {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container {
    padding: 0.5%;
    width: 30%;
    background-color: #f7f8fa;
}

main div {
    margin: 1%;
}

main div p {
    margin: 2% 2%;
    font-size: 1.5rem;
}

main div div div {
    display: flex;
}