* {
	box-sizing: border-box;
}

body {
	margin: 0;
    font-family: 'Kaisei Opti', serif;
}

header {
    background-image: url(header.jpg);
    background-color: #bd9ae5;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

h1 {
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    margin: 0;
    background-color: rgba(230, 230, 230, 0.9);
    padding: 1%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main div {
    padding: 0.5%;
    width: 25%;
}